## Ignore temporary files, build results, and folders.

# not indexed
bin
obj
packages
node_modules
results
coverage
TestResults
StyleCop.Cache
_ReSharper.Caches
_TeamCity.*
*.nupkg
*.user
*.suo
*.~*
.*

# indexed
!.dockerignore
!.drone.yml
!.editorconfig
!.gitattributes
!.gitignore
!.tag.sh
!.template.config
!.test.sh
!.version